.task-timer-file-control {
	.setting-item-control {
		flex-wrap: nowrap !important;
	}
}

.task-timer-reload {
	flex-shrink: 0 !important;
	width: fit-content !important;
}

.task-timer-container {
  container-type: inline-size;
	overflow-y: hidden;
	padding: var(--size-4-3) var(--size-4-3) var(--size-4-8);

	.setting-item-info  {
		display: none;
	}

	select {
		max-width: none;
	}

	.setting-item {
		padding-top: 0;
		padding-bottom: var(--size-4-5);
	}

	.setting-item-control {
		width: 100%;
		margin-top: 0 !important;
	}
}

.task-timer-input {
	flex-grow: 1;
}

.task-timer-archive {
	overflow-x: auto;
}

.task-timer-item {
	padding: var(--size-4-2) 0;
	display: grid;
	align-items: flex-start;
	align-self: flex-start;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto auto;
	grid-template-areas:
		"label label label action action"
		"time time time action action";

	.clickable-icon.extra-setting-button:not(.is-disabled) {
		cursor: pointer;
	}
}

.task-timer-item + .task-timer-item {
	border-top: var(--hr-thickness) solid var(--hr-color);
}

.task-timer-item:last-child {
	padding-bottom: 50vh;
}

.task-timer-item__label {
	grid-area: label;
	cursor: pointer;
}

.task-timer-item--running {
	--task-result-color: var(--text-warning);
}

.task-timer-item--done {
	--task-result-color: var(--text-success);
}

.task-timer-item--subtask {
	padding-left: var(--size-4-2);
	border-left: var(--size-4-1) solid var(--task-result-color);
}

.task-timer-item--project {
	--task-result-color: var(--color-purple);
}

.task-timer-item__label-text {
	display: inline;
}

.task-timer-item__label-icon {
	vertical-align: middle;
	margin-right: var(--size-4-1);
	color: var(--task-result-color);
}

.task-timer-item__time {
	margin: 0;
	color: var(--text-muted);
}

.task-timer-item__time-wrap {
	margin: 0;
	grid-area: time;
}

.task-timer-item__actions {
	display: flex;
	align-items: start;
	justify-content: flex-end;
	grid-area: action;

	.setting-item {
		margin: 0 !important;
		padding: 0;
		border: 0;
		align-items: flex-start;
	}

	.setting-item-control {
		margin: 0 !important;
	}
}

.task-timer-title {
	margin-top: 0;
	margin-bottom: var(--size-4-5);
}

.task-timer-action {
	width: calc(30% - var(--size-4-2)) !important;
	flex-grow: 1;
}

.task-timer-tags-wrap .setting-item-control {
	max-width: 250px;
	display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.task-timer-draggable-element {
	position: fixed;
	padding: var(--size-4-2);
	background-color: var(--ui1);
	box-shadow: var(--input-shadow);
	border-radius: var(--button-radius);
	cursor: pointer;
	z-index: 2;
	opacity: 0.4;
	pointer-events: none;
} 

.task-timer-drag-screen {
	pointer-events: none;
	position: fixed;
	background: var(--text-highlight-bg-active);
	z-index: 1;
}

.is-mobile,
.is-phone {
	.task-timer-input {
		width: 100% !important;
	}

	.task-timer-button {
		width: calc(30% - var(--size-4-2)) !important;
		flex-grow: 1;
	}

	.setting-item-control .task-timer-reload:not(.clickable-icon) {
		width: fit-content;
	}
}

@container(width < 350px) {
	.task-timer-input {
		width: 100% !important;
	}

	.task-timer-button {
		width: calc(30% - var(--size-4-2)) !important;
		flex-grow: 1;
	}
}
