.task-timer-container {
	overflow-y: hidden;
	padding: var(--size-4-3) var(--size-4-3) var(--size-4-8);
}

.task-timer-container {
  container-type: inline-size;

	.setting-item-info  {
		display: none;
	}

	select {
		max-width: none;
	}

	.setting-item {
		padding-top: 0;
		padding-bottom: var(--size-4-5);
	}

	.setting-item-control {
		width: 100%;
		margin-top: 0 !important;
		flex-wrap: wrap;
	}
}

.task-timer-input {
	flex-grow: 1;
}

.task-timer-archive {
	overflow-x: auto;
}

.task-timer-item {
	display: grid;
	align-items: flex-start;
	align-self: flex-start;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto auto calc(var(--hr-thickness) + var(--size-4-2));
	grid-template-areas:
		"label label label action action"
		"time time time action action"
		"delimiter delimiter delimiter delimiter delimiter";
}

.task-timer-item:last-child {
	padding-bottom: 50vh;
}

.task-timer-item__label-wrap {
	margin: 0 0 var(--size-4-1);
	display: flex;
	align-items: flex-start;
	gap: var(--size-4-1) var(--size-4-2);
	flex-wrap: wrap;

	svg {
		flex-shrink: 0;
	}
}

.task-timer-item__label-text {
	grid-area: label;
}

.task-timer-item--running .task-timer-item__label-text svg {
	color: var(--text-warning);
}

.task-timer-item--done .task-timer-item__label-text svg {
	color: var(--text-success);
}

.task-timer-item__label {
	display: inline;
}

.task-timer-item__label-icon {
	vertical-align: middle;
	margin-right: var(--size-4-1);
}

.task-timer-item__date {
	margin: 0;
	color: var(--text-muted);
}

.task-timer-item__time {
	margin: 0;
	grid-area: time;
}

.task-timer-item__delimiter {
	margin: 0 0 var(--size-4-2) 0;
	grid-area: delimiter;
}

.task-timer-item__date-wrap {
	display: flex;
	align-items: start;
	justify-content: flex-end;
	grid-area: action;

	.setting-item {
		margin: 0 !important;
		padding: 0;
		border: 0;
		align-items: flex-start;
	}

	.setting-item-control {
		margin: 0 !important;
	}
}

.task-timer-title {
	margin-top: 0;
	margin-bottom: var(--size-4-5);
}

.is-mobile,
.is-phone {
	.task-timer-input {
		width: 100% !important;
	}

	.task-timer-button {
		width: calc(30% - var(--size-4-2)) !important;
		flex-grow: 1;
	}
}

@container(width < 350px) {
	.task-timer-input {
		width: 100% !important;
	}

	.task-timer-button {
		width: calc(30% - var(--size-4-2)) !important;
		flex-grow: 1;
	}
}
